#platform=6, AMD64, 或 Intel EM64T

#version=DEVEL
# Install OS instead of upgrade
install
# X Window System configuration information
xconfig  --startxonboot
# Use network installation
url --url="ftp://192.168.10.1/rhel6"
# License agreement
eula --agreed
# System authorization information
auth --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# Firewall configuration
firewall --disabled
# Keyboard layouts
keyboard --vckeymap=us
# System language
lang zh_CN.UTF-8
# Installation logging level
logging --level=info
ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=eth0 --activate
network  --bootproto=dhcp --hostname=localhost.localdomain
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $1$oLACXsI.$EVWFHhMQ.NUPtTlbtaco11
# SELinux configuration
selinux --disabled
# System timezone
timezone Asia/Shanghai
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /var/lib/libvirt/images --fstype="ext4" --size=204800
part / --fstype="ext4" --size=122880

%post --interpreter=/bin/bash
useradd Student
echo redhat | passwd --stdin Student
systemctl set-default graphical.target
mkdir /etc/yum.repos.d/repo
mv /etc/yum.repos.d/*.repo /etc/yum.repos.d/repo
cd /etc/yum.repos.d/
wget ftp://192.168.10.1/CentOS.repo
yum -y install vsftpd
systemctl enable vsftpd
yum -y install httpd
systemctl restart httpd
systemctl enable httpd
systemctl enable nfs-server
wget ftp://192.168.10.1/NSD-2018-1-12.tar.gz
tar -xf NSD-2018-1-12.tar.gz -C /opt
cd /opt/NSD-2018-1-12
sh init.sh
wget ftp://192.168.10.1/desktop.tar.gz
tar xPf desktop.tar.gz
cd /bin/
wget ftp://192.168.10.1/uftp
wget ftp://192.168.10.1/uftpd
chmod 755 /bin/uftp*
mkdir /public
echo '/bin/uftpd -D /public' >> /etc/profile
%end

%packages
@base
@fonts
@gnome-desktop
@input-methods
@internet-browser
@virtualization-client
@virtualization-hypervisor
@virtualization-platform
@virtualization-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end
